body {
    font-family: 'Lato', sans-serif;
}

.container-wrapper {}

.container-wrapper--orange {
    background-color: #fcf8e3;

}

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-top: 5px;
}

.callout-container {
    background-image: url("/images/whiskey.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom-right;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.quotes-container {}

.features-container {}

/* Block Dividers (<hr> Tags) */
.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: darkslategray;
}

.block-divider--red {
    background-color: red;
}

.block-divider--short {
    width: 35px;

}

.block-divider--long {
    width: 150px;
}


/* Page Header */

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
}

.quotes .page-header{
    margin-bottom:25px ;
    
}
/* Content container */

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/* Navigation Bar */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;

}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.50);
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-dark .navbar-brand {
    color: #fff;
    font-weight: bold;
}


.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.navbar .navbar-nav a {
    font-weight: bold;
}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: #fff;
    margin-bottom: 4%;
    font-weight: bold;
}

.jumbotron .lead {
    margin: 25px 0;
    color: #FCF7DF;
}


.jumbotron small {
    color: #d9d9d9;
    font-size: medium;
    font-family: 'Brygada 1918', serif;
}

/* Buttons cta=(Call To Action button)*/

.btn--cta {
    border-radius: 20px;
    border: none;
    width: 160px;
}

.btn--orange {
    background-color: #fcf8e3;
    color: #000;
    border-color: #fcf8e3;
}

.btn--orange:hover,
.btn--orange:active,
.btn--orange:focus,
.btn--orange:active:focus {
    background-color: #d7d3be;
    border-color: #d7d3be
}

.feature {
    text-align: center;
    margin-bottom: 40px;
}

.feature i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

.feature .btn {
    background-color: #000;
    color: #d7d3be;
    margin-top: 10px;
    border-radius: 20px;
min-width: 100px;


}